.navbar {
    
    /* background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 20px;
    border: 2px solid black;
    background-color: black;
    color: white;
    transition: .3s;
}
.navbar a:hover{
    background:white;
    color: black;
}
.hero{
    background:url(https://www.w3schools.com/w3images/architect.jpg) no-repeat center/cover ;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    
}
.hero a{
    text-decoration: none;
    color: white;
}
.hero h1{
    background-color: black;
    
}
.project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 1em;
}
.project img{
    width: 100%;
}
.about{
    border:2px solid reb;
}
 .about .aboutcontainer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1em;
 }
/* .aboutcontainer .card{

} */
.card img{
    width: 100%;
}
.contact{
    border: 2px solid red;
}
.contact form{
    display: grid;
    gap: 1em;
    margin-bottom: 30px;

}
form input {
    width: 100%;
    
    margin-bottom: 10px;
}

form input[type="submit"]{
    width: fit-content;
    background-color: black;
    color: white;
}

form input:hover{
    color: white;
    background-color: grey;
}

.footer{
    
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 80px;
}

.footer p{
    padding-top: 33px;
}